// ----------------
//      Header
// ----------------
@mixin navigation-bar {
  nav {
    width: 90%;
    min-height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo a {
      text-decoration: none;
      font-family: monospace;
      letter-spacing: 10px;
      color: rgb(0, 0, 0);
    }

    ul {
      list-style: none;

      li {
        display: inline;
        margin-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
      }

      a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-bottom: 4px solid transparent;
        &:hover {
          color: rgba(31, 182, 122, 0.9);
          padding-bottom: 3px;
          border-bottom: 4px solid rgba(31, 182, 122, 0.6);
          transition: border-bottom 0.5s ease-in-out;
        }
      }
    }
  }
}

// ----------------------

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// ------------------------

@mixin boxImgTeam {
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  position: relative;
  margin: 10px;
}
// ---------------------------
//      FOOTER
// ---------------------------
@mixin footer {
  .footerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 182, 122, 0.2);

    p {
      font-size: 0.7rem;
      color: rgba(31, 182, 122);
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
// -------------------
// --MEDIA QUERIES
// -------------------
//
//
@mixin media-sm {
  @media screen and (max-width: 568px) {
    @content;
  }
}
// -------
@mixin media-md {
  @media screen and (min-width: 569px) {
    @content;
  }
}
// -------
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
