.result {
  width: 100vw;
  height: auto;
  padding: 100px 0;
  background-color: rgb(250, 250, 250, 0.6);
  @include flex-center-column;
  // display: none;

  h4 {
    padding: 20px 0 100px 0;
    font-size: 1.7rem;
    font-weight: 100;
    color: rgba(31, 182, 122, 0.8);
  }

  //
  // FILTERS
  .filters {
    padding: 15px 20px;
    margin: 20px 0 50px 0;

    .select-type {
      border: 1px dotted rgba(31, 182, 122, 0.6);
      background-color: transparent;
      padding: 12px 20px;
      color: rgba(31, 182, 122, 0.8);
      outline: none;
      -webkit-appearance: none;
    }

    .search-languages {
      @extend .select-type;
    }
    .order-by {
      @extend .select-type;
    }
  }
}
