.result {
  width: 100vw;
  height: 50vh;
  background-color: rgb(250, 250, 250, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h4 {
    font-size: 1.4rem;
    
    color: rgba(31, 182, 122, 0.5);
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }

  //
  // FILTERS
  .filters {
    .select-type {
      border: 1px dotted rgba(31, 182, 122, 0.6);
      background-color: transparent;
      padding: 12px 1rem;
      color: rgba(31, 182, 122, 0.8);
      outline: none;
    }

    .search-languages {
      @extend .select-type;
    }
    .order-by {
      @extend .select-type;
    }
  }
}
