#footer-search {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;

  font-size: 0.7rem;
  color: #353535;
  font-family: Arial, Helvetica, sans-serif;
}
