#footer-search {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.8);
  font-size: 0.7rem;
  color: #353535;
}
