.main-content {
  height: auto;
  // display: none;
  background-color: #f3f3f3;
  background-size: cover;
  background-image: linear-gradient(rgba(#fff, 0.2), rgba(#fff, 0.1)),
    url(../img/green-line2.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
