// -----------------------------
// MEDIA QUERIES
// -----------------------------
@include media-sm {
}
// ----------

@include media-md {
}

// ----------

@include media-lg {
  body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow-x: hidden;

    header {
      @include navigation-bar;
      width: 100vw;
      height: 5vh;

      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 1;
    }
    //
    //--------------------------
    // CONTAINER
    // -------------------------
    .container {
      @include flex-center-column;
      width: 100vw;
      height: 100vh;
      background-color: #f3f3f3;
      background-size: cover;
      background-image: linear-gradient(rgba(#c5c5c5, 0.1), rgba(#c5c5c5, 0.1)),
        url(../img/green-line2.svg);
      background-repeat: no-repeat;

      h1 {
        font-size: 6rem;
        color: rgba(31, 182, 122, 0.9);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        transform: translate(0vw, -2vh);
      }

      h4 {
        margin-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: rgba(31, 182, 122, 0.8);
        transform: translate(7.5vw, -14.5vh);
      }

      // --------------
      // box containing the button input
      // and click button
      // --------------
      //
      .header-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: auto;
        // --------------
        // BUTTON input text
        // --------------
        //
        .search-field {
          padding: 15px 40px;
          line-height: 1.4;
          margin-right: 0.3rem;
          // color and opacity 0.3
          background-color: rgba(253, 200, 175, 0.2);
          outline: none;
          border: none;
          border: 1px dotted rgba(31, 182, 122, 0.6);
          transition: color 3s ease-in-out;
          color: rgb(211, 115, 71);
          &:hover {
            border: 1px solid rgba(31, 182, 122, 0.6);
          }
        }
        ::placeholder {
          color: rgba(249, 105, 37, 0.4);
        }

        // -------------
        // BUTTON click
        // -------------
        //
        .fetch-values {
          position: relative;
          padding: 14px 40px;
          line-height: 1.4;
          transition: padding-right 0.3s ease;
          cursor: pointer;
          border: none;
          background-color: transparent;
          border: 1px solid rgba(31, 182, 122, 0.7);

          color: rgba(31, 182, 122, 1);

          transition: color 0.2s ease-in-out;

          &:hover {
            background-color: rgba(31, 182, 122, 0.9);
            color: #f1f1f1;
            border: 1px solid rgba(31, 182, 122, 0.6);
          }
        }

        .fetch-values.spinning {
          padding-right: 40px;
        }

        .fetch-values.spinning:before {
          content: "";
          border-radius: 50%;
          right: 6px;
          top: 50%;
          position: absolute;
          border-right: 3px solid #27ae60;
          animation: rotate360 1s infinite linear, exist 0.1s forwards ease;
        }

        @keyframes rotate360 {
          100% {
            transform: rotate(360deg);
          }
        }
        @keyframes exist {
          100% {
            width: 15px;
            height: 15px;
            margin: -8px 5px 0 0;
          }
        }
      }
      .spanX {
        transform: translateX(15px);
        color: #606060;
        font-weight: bolder;
        font-size: 1rem;
        opacity: 0;
      }

      .spanX:hover {
        cursor: pointer;
      }
    }
    //
    //
    //
    //
    //
    .title {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      color: #181818;
    }

    .sub-desc {
      color: #7a2929;
      margin-bottom: 1rem;
    }

    .description {
      margin: 0 auto;
      padding: 3rem;
      width: 60vw;
      color: #4d5156;
      font-size: 0.9rem;
      line-height: 1.6;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    //
    //--------------------------    ***
    // RESULT section
    // -------------------------    ***
    //
    //
    // I added THE RESULT  GRID inside the search-style.scss, there you will find why i did that.
    //
    //
    .result {
      width: 100vw;
      height: auto;
      padding: 100px 0;
      background-color: rgb(250, 250, 250);
      @include flex-center-column;
      display: none;

      h4 {
        padding: 20px 0 100px 0;
        font-size: 1.7rem;
        font-weight: 100;
        color: rgba(31, 182, 122, 0.8);
      }

      //
      // FILTERS
      .filters {
        padding: 15px 20px;
        margin: 20px 0 50px 0;

        .select-type {
          border: 1px dotted rgba(31, 182, 122, 0.6);
          background-color: transparent;
          padding: 12px 20px;
          color: rgba(31, 182, 122, 0.8);
          outline: none;
        }

        .search-languages {
          @extend .select-type;
        }
        .order-by {
          @extend .select-type;
        }
      }

      //
      //

      //
    }
    // ----------------------------
    // ----------------------------
    //               FOOTER SECTION
    // ----------------------------

    // the rest of the styles of this section is inside the search-styles.js
  }
}
