// -----------------------------
// MEDIA QUERIES
// -----------------------------
@include media-sm {
}
// ----------

@include media-md {
}

// ----------

@include media-lg {
  body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow-x: hidden;

    header {
      @include navigation-bar;
      width: 100vw;
      height: 6vh;

      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 1;
    }
    //
    //--------------------------    ***
    // RESULT section
    // -------------------------    ***
    //
    //
    // I added THE RESULT  GRID inside the search-style.scss, there you will find why i did that.
    //
    //
  }
}
