@import "mixin";
@import "bgChanger";
@import "indexContent";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// --------------------------
//
body::-webkit-scrollbar {
  width: 1em;
  /* background-color: #fff; */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(15, 15, 15);
  outline: none;
}
//

// -------------------------
// -------------------------
//
